<ion-content class="ion-padding">
  <ion-button color="tertiary" expand="block" [routerLink]="['/chat', 'anonimous']" routerLinkActive="router-link-active">Entrar anónimamente</ion-button>

  <br>

  <ion-title class="ion-text-center">
    Regístrate
  </ion-title>

  <br>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit( register )">

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email" required></ion-input>
    </ion-item>
  
    <br>
  
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [type]="hide ? 'password' : 'text'" formControlName="password" required></ion-input>
      <ion-icon [name]="hide ? 'eye' : 'eye-off'" (click)="hide = !hide" slot="end"  class="ion-align-self-center"></ion-icon>
    </ion-item>
  
    <br>
  
    <ion-item *ngIf="register">
      <ion-label position="floating">Nick</ion-label>
      <ion-input type="text" formControlName="nick" required></ion-input>
    </ion-item>
  
    <br>
  
    <ion-button color="tertiary" expand="block" (click)="onSubmit( register )">Siguiente</ion-button>

  </form>


  <ion-text class="ion-text-center">
    <p *ngIf="register"><b>¿Ya tienes cuenta? <a color="tertiary" (click)="register = !register">Inicia sesión</a></b></p>
    <p *ngIf="!register"><b>¿No tienes cuenta? <a color="tertiary" (click)="register = !register">Regístrate</a></b></p>
  </ion-text>
</ion-content>
  
  
